@font-face {
  font-family: "iconfont"; /* Project id 3871629 */
  src: url('iconfont.woff2?t=1674979755430') format('woff2'),
       url('iconfont.woff?t=1674979755430') format('woff'),
       url('iconfont.ttf?t=1674979755430') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipin:before {
  content: "\f0aa";
}

.icon-tupian:before {
  content: "\f0ad";
}

.icon-xinxi:before {
  content: "\f0ae";
}

.icon-huiyuan:before {
  content: "\f0af";
}

.icon-kabao:before {
  content: "\f0b0";
}

.icon-kefu:before {
  content: "\f0b1";
}

.icon-renwu:before {
  content: "\f0b2";
}

.icon-shijian:before {
  content: "\f0b3";
}

.icon-wode:before {
  content: "\f0b4";
}

.icon-xiaoxi:before {
  content: "\f0b5";
}

.icon-baocun:before {
  content: "\f0b6";
}

.icon-faxian:before {
  content: "\f0b7";
}

.icon-shouji:before {
  content: "\f0b8";
}

.icon-xihuan:before {
  content: "\f0b9";
}

.icon-yiliao:before {
  content: "\f0ba";
}

.icon-yinliao:before {
  content: "\f0bb";
}

.icon-bangong:before {
  content: "\f0bc";
}

.icon-fenxiang:before {
  content: "\f0bd";
}

.icon-jiesuo:before {
  content: "\f0be";
}

.icon-mima:before {
  content: "\f0bf";
}

.icon-rili:before {
  content: "\f0c0";
}

.icon-at:before {
  content: "\f0c1";
}

.icon-fujian:before {
  content: "\f0c2";
}

.icon-shezhi:before {
  content: "\f0c3";
}

.icon-xiangji:before {
  content: "\f0c4";
}

.icon-yinle:before {
  content: "\f0c5";
}

.icon-jiushui:before {
  content: "\f0c6";
}

.icon-shiyan:before {
  content: "\f0c7";
}

.icon-xinyongka:before {
  content: "\f0c8";
}

.icon-yujing:before {
  content: "\f0c9";
}

.icon-yundong:before {
  content: "\f0ca";
}

.icon-biaoqian:before {
  content: "\f0cb";
}

.icon-dayin:before {
  content: "\f0cc";
}

.icon-fenlei:before {
  content: "\f0cd";
}

.icon-guanbi:before {
  content: "\f0ce";
}

.icon-meishi:before {
  content: "\f0cf";
}

.icon-pisa:before {
  content: "\f0d0";
}

.icon-xuanxiang:before {
  content: "\f0d1";
}

.icon-xunzhang:before {
  content: "\f0d2";
}

.icon-yiwen:before {
  content: "\f0d3";
}

.icon-yingshi:before {
  content: "\f0d4";
}

.icon-fukuan:before {
  content: "\f0d5";
}

.icon-hongbao:before {
  content: "\f0d6";
}

.icon-riyong:before {
  content: "\f0d7";
}

.icon-shuaxin:before {
  content: "\f0d8";
}

.icon-xuanzhong:before {
  content: "\f0d9";
}

.icon-guanjun:before {
  content: "\f0da";
}

.icon-lvhang:before {
  content: "\f0db";
}

.icon-zhuangbei:before {
  content: "\f0dc";
}

.icon-anquan:before {
  content: "\f0dd";
}

.icon-jiasu:before {
  content: "\f0de";
}

.icon-shangpin:before {
  content: "\f0df";
}

.icon-saomiao:before {
  content: "\f0e0";
}

.icon-zhuangxiu:before {
  content: "\f0e1";
}

.icon-baohu:before {
  content: "\f0e2";
}

.icon-biaoqing:before {
  content: "\f0e3";
}

.icon-qingjie:before {
  content: "\f0e4";
}

.icon-dingwei:before {
  content: "\f0e5";
}

.icon-gouwuche:before {
  content: "\f0e6";
}

.icon-liwu:before {
  content: "\f0e7";
}

.icon-shangchuan:before {
  content: "\f0e8";
}

.icon-xiazai:before {
  content: "\f0e9";
}

.icon-shanchu:before {
  content: "\f0ea";
}

.icon-sousuo:before {
  content: "\f0eb";
}

.icon-youhuiquan:before {
  content: "\f0ec";
}

.icon-shouye:before {
  content: "\f0ab";
}

